.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  height: 350px;
  overflow: scroll;
  scrollbar-color: red;
  background-color: white;
  padding: 10px;
}

.list-done {
  height: 465px;
}

.list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  height: 40px;
  text-align: left;
  background-color: rgba(151, 151, 151, 0.1);
  border-radius: 3px;
  margin-bottom: 5px;
  transition: transform 0.3s;
}

.list__items:nth-child(odd).is-deleted {
  transform: translateX(-100%);
}

.list__items:nth-child(even).is-deleted {
  transform: translateX(100%);
}

.list__closeButton {
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.list__closeButton.green {
  background-color: rgb(73, 194, 99);
}

.list__closeButton.red {
  background-color: rgba(199, 35, 49, 0.767);
}
